In [1]:
sc

In [2]:
sc.applicationId

u'application_1529929920393_0148'

## Load libraries

In [3]:
import sys
sys.path.append("/usr/lib/python2.7/site-packages")

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime
from pyspark.sql.functions import year, month, dayofmonth
from pyspark.sql.functions import col, unix_timestamp,abs, log, from_unixtime, avg
from pyspark.sql.functions import count, sum, desc, date_format, lit, concat
from pyspark.sql import functions as F

In [4]:
# For displaying multiple outputs
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Load data

In [5]:
sqlContext.sql("use bmtc")

# Get the route map
route_map_df = sqlContext.sql("select route_id,start_bus_stop_id,end_bus_stop_id,\
                                      distance,time_to_travel,bus_stop_order,status \
                               from route_map")

# Get the route_point
route_point_df = sqlContext.sql("select route_id, route_order, bus_stop_id from route_point")

bus_stop_df = sqlContext.sql("select bus_stop_id,bus_stop_name,latitude_current,longitude_current from bus_stop")

# Drop corrupted locations
bus_stop_df = bus_stop_df.na.drop(subset=["latitude_current"])
bus_stop_df = bus_stop_df.na.drop(subset=["longitude_current"])

# Join the bus stop ID with lat,long
route_point_joined_df = route_point_df.join(bus_stop_df,\
                                            ["bus_stop_id"],\
                                            "left_outer")

form_four_df = sqlContext.sql("select form_four_id,form_four_name,schedule_number_id,\
                                      schedule_number_name,no_of_trips,start_time,\
                                      route_id,route_number,toll_zone,\
                                      area_limit,total_km,total_dead_km,\
                                      actual_km,total_running_time,total_break_time,\
                                      total_steering_time,spread_over_hours,ot_hours \
                               from form_four")

schedule_df = sqlContext.sql('select * from schedule')

schedule_df = schedule_df.select("schedule_id","schedule_number","depot_id","route_id","schedule_type")

schedule_details_df = sqlContext.sql('select * from schedule_details')

schedule_details_df = schedule_details_df.select("schedule_details_id","form_four_id","schedule_number","number_of_trips",\
                           "trip_number","trip_type","start_point","end_point","route_number_id",\
                           "route_number","route_direction","distance","start_time","end_time",\
                           "running_time","break_type_id","shift_type_id","is_dread_trip")

DataFrame[]

## Load the VTS_Waybill data

In [6]:
sqlContext.sql("use bmtc_eta_default")
sqlContext.sql("show tables").show(truncate=False)

DataFrame[]

+---------------------------+-----------+
|tableName                  |isTemporary|
+---------------------------+-----------+
|vts_365r                   |false      |
|vts_365r_distance          |false      |
|vts_365r_distance_1        |false      |
|vts_365r_filtered          |false      |
|vts_bus_stop_min_dist_apr17|false      |
|vts_bus_stop_min_dist_feb17|false      |
|vts_bus_stop_min_dist_jan17|false      |
|vts_bus_stop_min_dist_mar17|false      |
|vts_bus_stop_min_dist_may17|false      |
|vts_full_bus_stops_apr17   |false      |
|vts_full_bus_stops_feb17   |false      |
|vts_full_bus_stops_jan17   |false      |
|vts_full_bus_stops_mar17   |false      |
|vts_jun2017                |false      |
|vts_normal_speed           |false      |
|vts_volvo_2017             |false      |
|vts_volvo_oct2017          |false      |
|vts_waybill_volvo_apr2017  |false      |
|vts_waybill_volvo_aug2017  |false      |
|vts_waybill_volvo_dec2017  |false      |
+---------------------------+-----------+
only showing top 20 rows

In [7]:
#sqlContext.sql("select count(*) from vts_bus_stop_min_dist_apr17").show()

### >>> Input: Month

In [8]:
#vts_waybill_volvo_df = sqlContext.sql("select * from vts_waybill_volvo_may2017 where day(ist_date) >=28 and day(ist_date) <= 30")
#UNSURE: vts_waybill_volvo_df = sqlContext.sql("select * from vts_waybill_volvo_may2017 where day(ist_date) >=13 and day(ist_date) <=15")
vts_waybill_volvo_df = sqlContext.sql("select * from vts_waybill_volvo_may2017 where day(ist_date) >=25 and day(ist_date) <=27")

In [9]:
vts_waybill_volvo_count = vts_waybill_volvo_df.count()
vts_waybill_volvo_count

3216245

## Join the augmented table with the bus stops table conditional to the route ID

In [10]:
route_point_joined_df.show(2)

+-----------+--------+-----------+--------------------+----------------+-----------------+
|bus_stop_id|route_id|route_order|       bus_stop_name|latitude_current|longitude_current|
+-----------+--------+-----------+--------------------+----------------+-----------------+
|        160|     809|          1|Kempegowda Bus St...|     12.97751447|      77.57178022|
|       5841|     809|          2|       KBS Connector|     12.97752049|      77.57099145|
+-----------+--------+-----------+--------------------+----------------+-----------------+
only showing top 2 rows

In [11]:
# Take the route id which are plying on roads
route_id_list = vts_waybill_volvo_df.select("route_id").distinct().rdd.map(lambda x:x[0]).collect()

In [12]:
len(route_id_list)

837

In [13]:
route_point_filtered_df = route_point_joined_df.filter(col("route_id").isin(route_id_list))

In [14]:
route_point_joined_count = route_point_joined_df.count()
route_point_joined_count
route_point_filtered_count = route_point_filtered_df.count()
route_point_filtered_count

1078342

19603

In [15]:
vts_waybill_volvo_filtered_df = vts_waybill_volvo_df.select("id", "vts_device_id", "ist_date", "lat", "longitude",
                                                            "ist_epoch", "duty_dt",
                                                            "schedule_no", "schedule_name", "service_type",
                                                            "trip_number", "start_time", "end_time", 
                                                            "route_id", "route_no", "etm_start_time", "etm_end_time")
vts_waybill_volvo_filtered_df.show(2)

+-----------+-------------+--------------------+-----------+-----------+----------+----------+-----------+-------------------+------------+-----------+----------+--------+--------+---------------+--------------------+--------------------+
|         id|vts_device_id|            ist_date|        lat|  longitude| ist_epoch|   duty_dt|schedule_no|      schedule_name|service_type|trip_number|start_time|end_time|route_id|       route_no|      etm_start_time|        etm_end_time|
+-----------+-------------+--------------------+-----------+-----------+----------+----------+-----------+-------------------+------------+-----------+----------+--------+--------+---------------+--------------------+--------------------+
|16987092643|   0e8e5640ff|2017-05-26 08:20:...|12.97711533|77.71913067|1495767034|2017-05-26|      10055|V-335EP/6-Week Days|           3|          4|  08:30:00|09:45:00|   31159|      JFWTC-KBS|2017-05-26 08:22:...|2017-05-26 09:08:...|
|16987092643|   0e8e5640ff|2017-05-26 08:20:...|12.97711533|77.71913067|1495767034|2017-05-26|      10055|V-335EP/6-Week Days|           3|          3|  06:20:00|08:00:00|   17119|CS-NBVBDA-JFWTC|2017-05-26 06:05:...|2017-05-26 08:24:...|
+-----------+-------------+--------------------+-----------+-----------+----------+----------+-----------+-------------------+------------+-----------+----------+--------+--------+---------------+--------------------+--------------------+
only showing top 2 rows

In [16]:
# Join the vts_waybill table with the bus stop table. 
# This will provide the set of bus stop on that route 
vts_waybill_bus_stop_df = vts_waybill_volvo_filtered_df.join(route_point_filtered_df, ['route_id'], "inner")

In [17]:
vts_waybill_bus_stop_count = vts_waybill_bus_stop_df.count()
vts_waybill_bus_stop_count

136183630

In [18]:
vts_waybill_bus_stop_df.show(2)

+--------+-----------+-------------+--------------------+-----------+----------+----------+----------+-----------+------------------+------------+-----------+----------+--------+-----------+--------------------+--------------------+-----------+-----------+-------------+----------------+-----------------+
|route_id|         id|vts_device_id|            ist_date|        lat| longitude| ist_epoch|   duty_dt|schedule_no|     schedule_name|service_type|trip_number|start_time|end_time|   route_no|      etm_start_time|        etm_end_time|bus_stop_id|route_order|bus_stop_name|latitude_current|longitude_current|
+--------+-----------+-------------+--------------------+-----------+----------+----------+----------+-----------+------------------+------------+-----------+----------+--------+-----------+--------------------+--------------------+-----------+-----------+-------------+----------------+-----------------+
|   13289|16987930887|   0e8e563cc2|2017-05-26 08:47:...|12.98657333|77.6479785|1495768643|2017-05-26|      22863|V-500W/3-Week Days|           3|          3|  07:50:00|09:00:00|CS-BMSD-BTP|2017-05-26 08:05:...|2017-05-26 08:54:...|        372|          1|  Bommasandra|     12.81943759|      77.68841431|
|   13289|16987930887|   0e8e563cc2|2017-05-26 08:47:...|12.98657333|77.6479785|1495768643|2017-05-26|      22863|V-500W/3-Week Days|           3|          3|  07:50:00|09:00:00|CS-BMSD-BTP|2017-05-26 08:05:...|2017-05-26 08:54:...|        788|          2|    Hebbagodi|     12.82561203|      77.68296677|
+--------+-----------+-------------+--------------------+-----------+----------+----------+----------+-----------+------------------+------------+-----------+----------+--------+-----------+--------------------+--------------------+-----------+-----------+-------------+----------------+-----------------+
only showing top 2 rows

In [19]:
# Drop corrupted locations after joining with bus stop dataframe.
# These null locations corresponds to route ID not found in the route point joined dataframe

vts_waybill_bus_stop_df = vts_waybill_bus_stop_df.na.drop(subset=["latitude_current"])
vts_waybill_bus_stop_df = vts_waybill_bus_stop_df.na.drop(subset=["longitude_current"])
vts_waybill_bus_stop_count = vts_waybill_bus_stop_df.count()
vts_waybill_bus_stop_count

135423358

## We get the closest bus stop on a route

In [20]:
from pyspark.sql import Window

In [21]:
# Define a UDF for calculating the distance between the two geo points
from pyspark.sql.functions import udf
from math import *

pi_broadcast = sc.broadcast(pi)
pi_broadcast.value

# Return the Haversine distance between two geo-points
# The returned value is in metres
def distBetweenGeoPoints(lat1, long1, lat2, long2):
    dist =  ((acos(sin((lat1*pi_broadcast.value/180)) * 
                   sin((lat2*pi_broadcast.value/180))+cos((lat1*pi_broadcast.value/180)) * 
                   cos((lat2*pi_broadcast.value/180)) * cos(((long1 - long2)* 
              pi_broadcast.value/180))))*180/pi_broadcast.value*60*1.1515*1.60934)*1000
    return round(dist)

# The returned value is in metres

distBetweenGeoPointsUDF = udf(distBetweenGeoPoints)

3.141592653589793

In [22]:
VW_bus_stop_df = vts_waybill_bus_stop_df.withColumn("dist", 
                                                   distBetweenGeoPointsUDF(vts_waybill_bus_stop_df.lat, 
                                                                           vts_waybill_bus_stop_df.longitude, 
                                                                           vts_waybill_bus_stop_df.latitude_current, 
                                                                           vts_waybill_bus_stop_df.longitude_current).cast("float"))

In [ ]:
# Cache the dataframe 
VW_bus_stop_df.cache()

In [ ]:
VW_bus_stop_filtered_df = VW_bus_stop_df.filter(VW_bus_stop_df.dist <= 50)

In [ ]:
VW_bus_stop_filtered_df.show(2)

In [ ]:
VW_bus_stop_filtered_count = VW_bus_stop_filtered_df.count()
VW_bus_stop_filtered_count

In [ ]:
VW_bus_stop_filtered_count

## Figure out entry nearest the bus stop

In [ ]:
VW_window = Window.partitionBy("vts_device_id", "ist_epoch", "schedule_no", "route_id", "trip_number")
VW_window_1 = Window.partitionBy("duty_dt", "vts_device_id", "schedule_no", "route_id", "trip_number", "bus_stop_id", "route_order")

In [ ]:
VW_window_df = VW_bus_stop_filtered_df.withColumn("min_dist", F.min("dist").over(VW_window))
VW_window_1_df = VW_window_df.where(col('dist') == col('min_dist'))

In [ ]:
VW_window_count = VW_window_df.count()
VW_window_count
VW_window_1_count = VW_window_1_df.count()
VW_window_1_count

In [ ]:
VW_window_2_df = VW_window_1_df.withColumn("min_time", F.min("ist_epoch").over(VW_window_1))
VW_window_3_df = VW_window_2_df.where(col('ist_epoch') == col('min_time'))
VW_window_3_count = VW_window_3_df.count()
VW_window_3_count

In [ ]:
#sqlContext.sql("select * from vts_bus_stop_min_dist_apr17 where day(duty_dt) == 24").show(2)

### >>> Input: Change month and create/insert

In [ ]:
# Instead of creating a persistent table using saveAsTable, make temp table and dump it as a hive table
VW_window_3_df.createOrReplaceTempView("temp_VW_window_3_df") 
#sqlContext.sql("create table vts_bus_stop_min_dist_may17 as select * from temp_VW_window_3_df")
sqlContext.sql("insert into vts_bus_stop_min_dist_may17 select * from temp_VW_window_3_df")

In [ ]:
VW_bus_stop_df.unpersist()

In [ ]:
VW_window_3_count

### Validation part

In [322]:
sqlContext.sql("use bmtc_eta_default")
VW_window_3_df = sqlContext.sql("select * from vts_bus_stop_min_dist_mar17")
VW_window_3_count = VW_window_3_df.count()
VW_window_3_count
schedule_335 = VW_window_3_df.filter(col('schedule_name').like("%335%")).select("schedule_name")\
                   .distinct().rdd.map(lambda x:x[0]).collect()

DataFrame[]

573730

In [283]:
# Take schedule 365R/1-All Days, and we see that it takes two schedule no, which corresponds to two form four IDs
VW_window_3_df.filter(col('schedule_name')=='V-335E/44-All Days').select("schedule_no").distinct().show()

+-----------+
|schedule_no|
+-----------+
|      35229|
+-----------+

In [284]:
form_four_df.filter(col('form_four_id').isin([35229])).show()

+------------+--------------+------------------+--------------------+-----------+----------+--------+------------+---------+----------+--------+-------------+---------+------------------+----------------+-------------------+-----------------+--------+
|form_four_id|form_four_name|schedule_number_id|schedule_number_name|no_of_trips|start_time|route_id|route_number|toll_zone|area_limit|total_km|total_dead_km|actual_km|total_running_time|total_break_time|total_steering_time|spread_over_hours|ot_hours|
+------------+--------------+------------------+--------------------+-----------+----------+--------+------------+---------+----------+--------+-------------+---------+------------------+----------------+-------------------+-----------------+--------+
|       35229|             1|              9434|  V-335E/44-All Days|          6|  18:20:00|   32611|        null|        0|         0|   113.0|          0.6|    112.4|              6:50|            null|               7:35|              8:5|     0:0|
+------------+--------------+------------------+--------------------+-----------+----------+--------+------------+---------+----------+--------+-------------+---------+------------------+----------------+-------------------+-----------------+--------+

In [285]:
# schedule_details_df.filter((col("schedule_number")==9434) & (col('form_four_id')==35229) ).show()

In [286]:
VW_schedule_df = VW_window_3_df.filter(col("schedule_name") == 'V-335E/44-All Days')

In [287]:
VW_schedule_count = VW_schedule_df.count()
VW_schedule_count

410

In [288]:
VW_schedule_df.show(2)

+--------+-----------+-------------+--------------------+---------+---------+----------+----------+-----------+------------------+------------+-----------+----------+--------+--------+--------------------+--------------------+-----------+-----------+--------------+----------------+-----------------+----+--------+----------+
|route_id|         id|vts_device_id|            ist_date|      lat|longitude| ist_epoch|   duty_dt|schedule_no|     schedule_name|service_type|trip_number|start_time|end_time|route_no|      etm_start_time|        etm_end_time|bus_stop_id|route_order| bus_stop_name|latitude_current|longitude_current|dist|min_dist|  min_time|
+--------+-----------+-------------+--------------------+---------+---------+----------+----------+-----------+------------------+------------+-----------+----------+--------+--------+--------------------+--------------------+-----------+-----------+--------------+----------------+-----------------+----+--------+----------+
|   32612|14190026552|    150218239|2017-03-02 04:52:...|12.960676| 77.64109|1488410534|2017-03-01|      35229|V-335E/44-All Days|           3|          5|  00:20:00|01:50:00|  V-335E|2017-03-02 04:16:...|2017-03-02 05:17:...|       6756|         33|Domlur Flyover|     12.96066873|      77.64126733|19.0|    19.0|1488410534|
|   32611|14224068463|    150220954|2017-03-03 04:15:...|12.973512|77.610146|1488494730|2017-03-02|      35229|V-335E/44-All Days|           3|          4|  22:45:00|00:15:00|  V-335E|2017-03-02 22:51:...|2017-03-03 05:03:...|       9136|         13|      Mayohall|     12.97349535|      77.61048496|37.0|    37.0|1488494730|
+--------+-----------+-------------+--------------------+---------+---------+----------+----------+-----------+------------------+------------+-----------+----------+--------+--------+--------------------+--------------------+-----------+-----------+--------------+----------------+-----------------+----+--------+----------+
only showing top 2 rows

In [291]:
VW_by_device_df = VW_window_3_df.filter(col("vts_device_id") == 150218239).orderBy("ist_epoch")

In [292]:
VW_by_device_count = VW_by_device_df.count()
VW_by_device_count

983

In [65]:
temp_time_df = VW_by_device_df.filter(dayofmonth(col('ist_date')) == 1)\
                                .select("ist_date", "schedule_no", "route_id", "trip_number", "bus_stop_id", "bus_stop_name", "route_order")
temp_time_filtered_df = temp_time_df.filter(col('trip_number') == 2)

In [66]:
temp_time_filtered_df.show(1323)

+--------------------+-----------+--------+-----------+-----------+--------------------+-----------+
|            ist_date|schedule_no|route_id|trip_number|bus_stop_id|       bus_stop_name|route_order|
+--------------------+-----------+--------+-----------+-----------+--------------------+-----------+
|2017-02-01 06:45:...|      33103|   28798|          2|         33|      KBS Connector2|         15|
|2017-02-01 06:48:...|      33103|   28798|          2|      11378|   Depot-07 Dummy BS|         16|
|2017-02-01 06:51:...|      33103|   28798|          2|        124|   Maharanis College|         17|
|2017-02-01 06:54:...|      33103|   28798|          2|         61|           KR Circle|         18|
|2017-02-01 06:56:...|      33103|   28798|          2|        127|         Corporation|         19|
|2017-02-01 06:59:...|      33103|   28798|          2|        157|St Joseph Boys Hi...|         20|
|2017-02-01 07:01:...|      33103|   28798|          2|        854|     Richmond Circle|         21|
|2017-02-01 07:02:...|      33103|   28798|          2|       6212|   St Joseph College|         22|
|2017-02-01 07:04:...|      33103|   28798|          2|       9136|            Mayohall|         23|
|2017-02-01 07:05:...|      33103|   28798|          2|       7433|     Hosmat Hospital|         24|
|2017-02-01 07:08:...|      33103|   28798|          2|       6933|Military Accounts...|         25|
|2017-02-01 07:09:...|      33103|   28798|          2|        132|   Commando Hospital|         26|
|2017-02-01 07:11:...|      33103|   28798|          2|        155|              Domlur|         27|
|2017-02-01 07:14:...|      33103|   28798|          2|       6757|      Domlur Flyover|         28|
|2017-02-01 07:14:...|      33103|   28798|          2|          3|           Kodihalli|         29|
|2017-02-01 07:15:...|      33103|   28798|          2|       4742|NAL Manipal Hospi...|         30|
|2017-02-01 07:16:...|      33103|   28798|          2|       3041|       Murugeshpalya|         31|
|2017-02-01 07:17:...|      33103|   28798|          2|       6912|     Konena Agrahara|         32|
|2017-02-01 07:22:...|      33103|   28798|          2|       1484|       HAL Main Gate|         33|
|2017-02-01 07:27:...|      33103|   28798|          2|        849| Helicopter Division|         34|
|2017-02-01 07:28:...|      33103|   28798|          2|        149|  HAL Police Station|         35|
|2017-02-01 07:29:...|      33103|   28798|          2|        147|       Yamalur Cross|         36|
|2017-02-01 07:30:...|      33103|   28798|          2|       6946|       Marathahalli |         37|
|2017-02-01 07:39:...|      33103|   28798|          2|       2589| Marathahalli Bridge|         38|
|2017-02-01 07:41:...|      33103|   28798|          2|       2032|   Munnekolalu Cross|         39|
|2017-02-01 07:44:...|      33103|   28798|          2|       2071|   Kundalahalli Gate|         40|
|2017-02-01 07:44:...|      33103|   28798|          2|       2036|        Kundalahalli|         41|
|2017-02-01 07:46:...|      33103|   28798|          2|       6908|           BEML Gate|         42|
|2017-02-01 07:47:...|      33103|   28798|          2|       6930|   AECS Layout Cross|         43|
|2017-02-01 07:49:...|      33103|   28798|          2|       2039|       CMRIT College|         44|
|2017-02-01 07:49:...|      33103|   28798|          2|       2040| Kundalahalli Colony|         45|
|2017-02-01 07:54:...|      33103|   28798|          2|       2041|      Graphite India|         46|
|2017-02-01 07:56:...|      33103|   28798|          2|       2043|              I Gate|         48|
|2017-02-01 07:57:...|      33103|   28798|          2|       2045|                KTPO|         49|
|2017-02-01 07:57:...|      33103|   28798|          2|       2048|White Field TTMC ...|         50|
|2017-02-01 07:59:...|      33103|   28798|          2|       2050| Sathya Sai Hospital|         51|
|2017-02-01 08:04:...|      33103|   28798|          2|       7385|    Big Bazzar  ITPL|         52|
+--------------------+-----------+--------+-----------+-----------+--------------------+-----------+

In [411]:
temp_time_filtered_df.count()

42

In [438]:
temp_route_point_df = route_point_joined_df.filter(col("route_id") == 23067)

In [447]:
temp_time_route_point_joined_df = temp_route_point_df.join(temp_time_filtered_df,
                                                          ['route_id', 'bus_stop_id', 'route_order'],
                                                          'left_outer')

In [448]:
temp_time_route_point_joined_pdf = temp_time_route_point_joined_df.toPandas()

In [449]:
temp_time_route_point_joined_pdf = temp_time_route_point_joined_pdf.drop(['latitude_current', 'longitude_current'], axis = 1)

In [450]:
temp_time_route_point_joined_pdf = temp_time_route_point_joined_pdf.sort_values(by='route_order')

In [451]:
temp_time_route_point_joined_pdf

,route_id,bus_stop_id,route_order,bus_stop_name,ist_date,schedule_no,trip_number,bus_stop_name
37,23067,160,1,Kempegowda Bus Station,None,NaN,NaN,None
25,23067,5841,2,KBS Connector,None,NaN,NaN,None
31,23067,33,3,KBS Connector2,None,NaN,NaN,None
43,23067,5840,4,KBS connector3,2017-01-01 08:25:24.0,28000.0,2.0,KBS connector3
30,23067,8455,5,KBS Dummy Bus Stand,2017-01-01 08:25:14.0,28000.0,2.0,KBS Dummy Bus Stand
10,23067,124,6,Maharanis College,2017-01-01 08:29:02.0,28000.0,2.0,Maharanis College
45,23067,61,7,KR Circle,2017-01-01 08:30:23.0,28000.0,2.0,KR Circle
33,23067,126,8,St Marthas Hospital,None,NaN,NaN,None
15,23067,158,9,Corporation,2017-01-01 08:33:42.0,28000.0,2.0,Corporation
29,23067,159,10,Subbaiah Circle,2017-01-01 08:35:21.0,28000.0,2.0,Subbaiah Circle
27,23067,353,11,KH Road,2017-01-01 08:37:11.0,28000.0,2.0,KH Road
4,23067,8579,12,SNT Dummy Stop,2017-01-01 08:37:41.0,28000.0,2.0,SNT Dummy Stop
35,23067,8206,13,SNT Connector,2017-01-01 08:38:11.0,28000.0,2.0,SNT Connector
13,23067,8207,14,Shanthinagara TTMC,2017-01-01 08:38:41.0,28000.0,2.0,Shanthinagara TTMC
18,23067,8208,15,SNT Connector,2017-01-01 08:39:00.0,28000.0,2.0,SNT Connector
2,23067,8577,16,SNT Dummy Stop,2017-01-01 08:39:10.0,28000.0,2.0,SNT Dummy Stop
5,23067,65,17,Wilson Garden Police Station,2017-01-01 08:40:20.0,28000.0,2.0,Wilson Garden Police Station
1,23067,66,18,10th Cross Wilson Garden,2017-01-01 08:41:49.0,28000.0,2.0,10th Cross Wilson Garden
40,23067,67,19,Lakkasandra,2017-01-01 08:43:10.0,28000.0,2.0,Lakkasandra
17,23067,351,20,Nimhans Hospital,2017-01-01 08:43:50.0,28000.0,2.0,Nimhans Hospital
12,23067,76,21,Bengaluru Dairy Circle,2017-01-01 08:45:09.0,28000.0,2.0,Bengaluru Dairy Circle
6,23067,77,22,Ananda Ashrama,2017-01-01 08:46:28.0,28000.0,2.0,Ananda Ashrama
3,23067,78,23,IBM Bannerughatta Road,None,NaN,NaN,None
20,23067,9108,24,Gurappanapalya,2017-01-01 08:47:39.0,28000.0,2.0,Gurappanapalya
7,23067,80,25,MICO Layout Checkpost Gopalan mall,2017-01-01 08:48:38.0,28000.0,2.0,MICO Layout Checkpost Gopalan mall
38,23067,81,26,JP Nagara 3rd Phase,2017-01-01 08:50:08.0,28000.0,2.0,JP Nagara 3rd Phase
19,23067,83,27,Bilekahalli,2017-01-01 08:51:47.0,28000.0,2.0,Bilekahalli
39,23067,84,28,IIM Apollo,2017-01-01 08:52:37.0,28000.0,2.0,IIM Apollo
28,23067,86,29,Arakere Gate,2017-01-01 08:53:47.0,28000.0,2.0,Arakere Gate
42,23067,87,30,BPL,2017-01-01 08:54:37.0,28000.0,2.0,BPL
11,23067,88,31,Hulimavu Gate,2017-01-01 08:55:47.0,28000.0,2.0,Hulimavu Gate
41,23067,89,32,Meenakshi Temple,2017-01-01 08:56:46.0,28000.0,2.0,Meenakshi Temple
14,23067,90,33,Loyola School,2017-01-01 08:57:36.0,28000.0,2.0,Loyola School
32,23067,91,34,Kalena Agrahara,2017-01-01 08:58:36.0,28000.0,2.0,Kalena Agrahara
47,23067,92,35,Himagiri,2017-01-01 08:59:25.0,28000.0,2.0,Himagiri
36,23067,93,36,Gottigere,2017-01-01 09:01:15.0,28000.0,2.0,Gottigere
8,23067,94,37,T John College,2017-01-01 09:02:55.0,28000.0,2.0,T John College
16,23067,95,38,Basavanapura Gate,2017-01-01 09:03:54.0,28000.0,2.0,Basavanapura Gate
26,23067,957,39,Koli Farm Gate,2017-01-01 09:04:44.0,28000.0,2.0,Koli Farm Gate
34,23067,97,40,Kalkere,2017-01-01 09:06:14.0,28000.0,2.0,Kalkere
9,23067,101,41,AMC College,2017-01-01 09:06:44.0,28000.0,2.0,AMC College
0,23067,1127,42,Sampangiram Nagara,None,NaN,NaN,None
21,23067,98,43,Ryan International School,2017-01-01 09:08:33.0,28000.0,2.0,Ryan International School
22,23067,1133,44,Vijaya Bank Bannerughatta,2017-01-01 09:09:33.0,28000.0,2.0,Vijaya Bank Bannerughatta
24,23067,9112,45,Bannerughatta Circle,2017-01-01 09:10:03.0,28000.0,2.0,Bannerughatta Circle
44,23067,3779,46,PrabasNagara,2017-01-01 09:11:13.0,28000.0,2.0,PrabasNagara
46,23067,3780,47,Sampigehalli,2017-01-01 09:12:02.0,28000.0,2.0,Sampigehalli
23,23067,9985,48,Bannerughatta National Park,2017-01-01 09:14:12.0,28000.0,2.0,Bannerughatta National Park

In [454]:
temp_time_route_point_joined_pdf.route_order_previous = temp_time_route_point_joined_pdf.route_order.shift(-1)

In [455]:
temp_time_route_point_joined_pdf

,route_id,bus_stop_id,route_order,bus_stop_name,ist_date,schedule_no,trip_number,bus_stop_name
37,23067,160,1,Kempegowda Bus Station,None,NaN,NaN,None
25,23067,5841,2,KBS Connector,None,NaN,NaN,None
31,23067,33,3,KBS Connector2,None,NaN,NaN,None
43,23067,5840,4,KBS connector3,2017-01-01 08:25:24.0,28000.0,2.0,KBS connector3
30,23067,8455,5,KBS Dummy Bus Stand,2017-01-01 08:25:14.0,28000.0,2.0,KBS Dummy Bus Stand
10,23067,124,6,Maharanis College,2017-01-01 08:29:02.0,28000.0,2.0,Maharanis College
45,23067,61,7,KR Circle,2017-01-01 08:30:23.0,28000.0,2.0,KR Circle
33,23067,126,8,St Marthas Hospital,None,NaN,NaN,None
15,23067,158,9,Corporation,2017-01-01 08:33:42.0,28000.0,2.0,Corporation
29,23067,159,10,Subbaiah Circle,2017-01-01 08:35:21.0,28000.0,2.0,Subbaiah Circle
27,23067,353,11,KH Road,2017-01-01 08:37:11.0,28000.0,2.0,KH Road
4,23067,8579,12,SNT Dummy Stop,2017-01-01 08:37:41.0,28000.0,2.0,SNT Dummy Stop
35,23067,8206,13,SNT Connector,2017-01-01 08:38:11.0,28000.0,2.0,SNT Connector
13,23067,8207,14,Shanthinagara TTMC,2017-01-01 08:38:41.0,28000.0,2.0,Shanthinagara TTMC
18,23067,8208,15,SNT Connector,2017-01-01 08:39:00.0,28000.0,2.0,SNT Connector
2,23067,8577,16,SNT Dummy Stop,2017-01-01 08:39:10.0,28000.0,2.0,SNT Dummy Stop
5,23067,65,17,Wilson Garden Police Station,2017-01-01 08:40:20.0,28000.0,2.0,Wilson Garden Police Station
1,23067,66,18,10th Cross Wilson Garden,2017-01-01 08:41:49.0,28000.0,2.0,10th Cross Wilson Garden
40,23067,67,19,Lakkasandra,2017-01-01 08:43:10.0,28000.0,2.0,Lakkasandra
17,23067,351,20,Nimhans Hospital,2017-01-01 08:43:50.0,28000.0,2.0,Nimhans Hospital
12,23067,76,21,Bengaluru Dairy Circle,2017-01-01 08:45:09.0,28000.0,2.0,Bengaluru Dairy Circle
6,23067,77,22,Ananda Ashrama,2017-01-01 08:46:28.0,28000.0,2.0,Ananda Ashrama
3,23067,78,23,IBM Bannerughatta Road,None,NaN,NaN,None
20,23067,9108,24,Gurappanapalya,2017-01-01 08:47:39.0,28000.0,2.0,Gurappanapalya
7,23067,80,25,MICO Layout Checkpost Gopalan mall,2017-01-01 08:48:38.0,28000.0,2.0,MICO Layout Checkpost Gopalan mall
38,23067,81,26,JP Nagara 3rd Phase,2017-01-01 08:50:08.0,28000.0,2.0,JP Nagara 3rd Phase
19,23067,83,27,Bilekahalli,2017-01-01 08:51:47.0,28000.0,2.0,Bilekahalli
39,23067,84,28,IIM Apollo,2017-01-01 08:52:37.0,28000.0,2.0,IIM Apollo
28,23067,86,29,Arakere Gate,2017-01-01 08:53:47.0,28000.0,2.0,Arakere Gate
42,23067,87,30,BPL,2017-01-01 08:54:37.0,28000.0,2.0,BPL
11,23067,88,31,Hulimavu Gate,2017-01-01 08:55:47.0,28000.0,2.0,Hulimavu Gate
41,23067,89,32,Meenakshi Temple,2017-01-01 08:56:46.0,28000.0,2.0,Meenakshi Temple
14,23067,90,33,Loyola School,2017-01-01 08:57:36.0,28000.0,2.0,Loyola School
32,23067,91,34,Kalena Agrahara,2017-01-01 08:58:36.0,28000.0,2.0,Kalena Agrahara
47,23067,92,35,Himagiri,2017-01-01 08:59:25.0,28000.0,2.0,Himagiri
36,23067,93,36,Gottigere,2017-01-01 09:01:15.0,28000.0,2.0,Gottigere
8,23067,94,37,T John College,2017-01-01 09:02:55.0,28000.0,2.0,T John College
16,23067,95,38,Basavanapura Gate,2017-01-01 09:03:54.0,28000.0,2.0,Basavanapura Gate
26,23067,957,39,Koli Farm Gate,2017-01-01 09:04:44.0,28000.0,2.0,Koli Farm Gate
34,23067,97,40,Kalkere,2017-01-01 09:06:14.0,28000.0,2.0,Kalkere
9,23067,101,41,AMC College,2017-01-01 09:06:44.0,28000.0,2.0,AMC College
0,23067,1127,42,Sampangiram Nagara,None,NaN,NaN,None
21,23067,98,43,Ryan International School,2017-01-01 09:08:33.0,28000.0,2.0,Ryan International School
22,23067,1133,44,Vijaya Bank Bannerughatta,2017-01-01 09:09:33.0,28000.0,2.0,Vijaya Bank Bannerughatta
24,23067,9112,45,Bannerughatta Circle,2017-01-01 09:10:03.0,28000.0,2.0,Bannerughatta Circle
44,23067,3779,46,PrabasNagara,2017-01-01 09:11:13.0,28000.0,2.0,PrabasNagara
46,23067,3780,47,Sampigehalli,2017-01-01 09:12:02.0,28000.0,2.0,Sampigehalli
23,23067,9985,48,Bannerughatta National Park,2017-01-01 09:14:12.0,28000.0,2.0,Bannerughatta National Park

In [402]:
route_point_joined_df.filter(col("route_id") == 28788).show(90)

+-----------+--------+-----------+--------------------+----------------+-----------------+
|bus_stop_id|route_id|route_order|       bus_stop_name|latitude_current|longitude_current|
+-----------+--------+-----------+--------------------+----------------+-----------------+
|        160|   28788|          1|Kempegowda Bus St...|     12.97751447|      77.57178022|
|       5841|   28788|          2|       KBS Connector|     12.97752049|      77.57099145|
|         33|   28788|          3|      KBS Connector2|     12.97944962|      77.57116351|
|       5840|   28788|          4|      KBS connector3|     12.97989895|      77.57139177|
|       8455|   28788|          5| KBS Dummy Bus Stand|       12.980274|      77.57191479|
|        124|   28788|          6|   Maharanis College|     12.97705906|      77.58594229|
|         61|   28788|          7|           KR Circle|     12.97472667|         77.58691|
|        126|   28788|          8| St Marthas Hospital|     12.96962529|      77.58719475|
|        127|   28788|          9|         Corporation|     12.96828565|      77.58939829|
|        157|   28788|         10|St Joseph Boys Hi...|     12.97037888|      77.59430906|
|        854|   28788|         11|     Richmond Circle|     12.96748409|      77.59948571|
|       6212|   28788|         12|   St Joseph College|     12.96986484|      77.60295331|
|       9136|   28788|         13|            Mayohall|     12.97349535|      77.61048496|
|       7433|   28788|         14|     Hosmat Hospital|     12.96879841|      77.61336029|
|       6933|   28788|         15|Military Accounts...|     12.96698182|      77.62099385|
|        132|   28788|         16|   Commando Hospital|     12.96370285|       77.6264945|
|        155|   28788|         17|              Domlur|     12.96107247|      77.63810104|
|       6757|   28788|         18|      Domlur Flyover|     12.96045504|      77.64361158|
|          3|   28788|         19|           Kodihalli|     12.96004656|      77.64719738|
|       4742|   28788|         20|NAL Manipal Hospi...|     12.95966435|      77.65057728|
|       3041|   28788|         21|       Murugeshpalya|     12.95927468|      77.65797436|
|       6912|   28788|         22|     Konena Agrahara|     12.95912327|      77.65955932|
|       1484|   28788|         23|       HAL Main Gate|     12.95844606|      77.66603425|
|        849|   28788|         24| Helicopter Division|     12.95580642|      77.67741628|
|        149|   28788|         25|  HAL Police Station|     12.95458612|      77.68221743|
|        147|   28788|         26|       Yamalur Cross|     12.95523694|      77.68817378|
|       6946|   28788|         27|       Marathahalli |     12.95624144|      77.69383997|
|       2589|   28788|         28| Marathahalli Bridge|     12.95695594|      77.70181791|
|       2032|   28788|         29|   Munnekolalu Cross|     12.95639552|      77.70900393|
|       2071|   28788|         30|   Kundalahalli Gate|      12.9568443|      77.71503285|
|       2036|   28788|         31|        Kundalahalli|     12.95832429|      77.71559037|
|       6908|   28788|         32|           BEML Gate|     12.96097783|      77.71652609|
|       6930|   28788|         33|   AECS Layout Cross|     12.96521749|      77.71829903|
|       2039|   28788|         34|       CMRIT College|     12.96759276|      77.71396807|
|       2040|   28788|         35| Kundalahalli Colony|     12.97015766|      77.71246804|
|       2041|   28788|         36|      Graphite India|     12.97819261|      77.71130868|
|       6910|   28788|         37|            SAP Labs|     12.97778185|      77.71441787|
|       2043|   28788|         38|              I Gate|     12.97734538|      77.71887146|
|       2045|   28788|         39|                KTPO|     12.97698824|      77.72226917|
|       2048|   28788|         40|White Field TTMC ...|     12.97658946|      77.72692723|
|       2050|   28788|         41| Sathya Sai Hospital|      12.9824554|      77.72780105|
|       7385|   28788|         42|    Big Bazzar  ITPL|     12.98822336|      77.73193404|
|        403|   28788|         43|Pattandur Agrahar...|     12.98794716|      77.73380882|
|       6915|   28788|         44|                ITPL|     12.98769279|      77.73739233|
|       6916|   28788|         45|   GR Tech Park ITPL|     12.98661599|      77.74426014|
|       6917|   28788|         46|                 BPL|     12.98530919|      77.74801791|
|       2280|   28788|         47|           Hope Farm|     12.98326518|      77.75232229|
|       6924|   28788|         48|Munish Singh Hosp...|     12.98057588|      77.75184274|
|       6922|   28788|         49|Sai Baba General ...|     12.97389787|      77.75057405|
|        140|   28788|         50|White Field Post ...|     12.96926404|      77.74996365|
|       6926|   28788|         51|         Brooke Bond|     12.96421639|      77.74860263|
|       6928|   28788|         52|          Forum Mall|     12.95969441|      77.74690479|
|        141|   28788|         53|        Varthur Kodi|     12.95696911|      77.74539676|
|        142|   28788|         54|    Ramagondanahalli|     12.95689538|      77.73969932|
|        143|   28788|         55|           Siddapura|     12.95606013|      77.73072328|
|        135|   28788|         56|        Thubarahalli|     12.95573591|      77.72035565|
|        134|   28788|         57|   Kundalahalli Gate|     12.95585442|      77.71376455|
|       2074|   28788|         58|   Munnekolalu Cross|     12.95629245|      77.70887399|
|        146|   28788|         59| Marathahalli Bridge|     12.95693481|      77.70070592|
|       1629|   28788|         60|        Marathahalli|     12.95609833|      77.69380013|
|        148|   28788|         61|       Yamalur Cross|     12.95508381|      77.68799211|
|       3039|   28788|         62|  HAL Police Station|     12.95446504|      77.68268519|
|        847|   28788|         63| Helicopter Division|     12.95593447|      77.67664333|
|        150|   28788|         64|       HAL Main Gate|     12.95840103|      77.66565285|
|       6913|   28788|         65|     Konena Agrahara|     12.95900434|      77.65956134|
|        152|   28788|         66|       Murugeshpalya|     12.95920774|      77.65622463|
|        154|   28788|         67|NAL Manipal Hospi...|     12.95971832|      77.64938601|
|        153|   28788|         68|           Kodihalli|      12.9599491|      77.64677806|
|       6756|   28788|         69|      Domlur Flyover|     12.96066873|      77.64126733|
|        156|   28788|         70|              Domlur|     12.96126036|      77.63614696|
|       1493|   28788|         71|   Commando Hospital|     12.96265764|      77.62757386|
|        846|   28788|         72|Military Accounts...|     12.96670184|      77.62079318|
|       1632|   28788|         73|          Life Style|     12.96672149|      77.60945756|
|       1534|   28788|         74|     Richmond Circle|     12.96565337|      77.60294226|
|       6016|   28788|         75|Richmond Circle (...|     12.96477656|      77.59647575|
|       8379|   28788|         76|     Pallavi Talkies|      12.9678313|      77.59084046|
|        193|   28788|         77|         Corporation|     12.96841334|       77.5866793|
|        195|   28788|         78|         Mysore Bank|     12.97267471|      77.58176117|
|       8407|   28788|         79|  KBS Dummy Bus Stop|     12.97740047|      77.57420137|
|       5849|   28788|         80|       KBS Connector|     12.97753944|      77.57407732|
|       8456|   28788|         81|Kempegowda Bus St...|     12.97750611|      77.57291257|
+-----------+--------+-----------+--------------------+----------------+-----------------+

In [391]:
sqlContext.sql("use bmtcwaybill")
sqlContext.sql("show tables").show()
waybill_df = sqlContext.sql("select * from waybill_trip_details")

DataFrame[]

+--------------------+-----------+
|           tableName|isTemporary|
+--------------------+-----------+
|         vts_jan0517|      false|
|waybill_trip_details|      false|
| temp_vw_window_3_df|       true|
+--------------------+-----------+

In [397]:
waybill_df.filter(col("schedule_no") == 28000).select('schedule_no','trip_number',\
                                                             'start_bus_stop_name',\
                                                             'end_bus_stop_name',\
                                                             'route_id').distinct().orderBy('trip_number').show(50,truncate=False)

+-----------+-----------+--------------------------------------+------------------------------------+--------+
|schedule_no|trip_number|start_bus_stop_name                   |end_bus_stop_name                   |route_id|
+-----------+-----------+--------------------------------------+------------------------------------+--------+
|28000      |1          |Depot-7                               |Kempegowda Bus Station              |13509   |
|28000      |1          |Depot-07 Subhashnagara                |Kempegowda Bus Station              |13509   |
|28000      |1          |Depot-07                              |Kempegowda Bus Station              |13509   |
|28000      |2          |Kempegowda Bus Station                |Bannerghatta National Park(Arrival) |23067   |
|28000      |2          |Kempegowda Bus Station                |Bannerughatta National Park         |23067   |
|28000      |2          |Kempegowda Bus Station                |Bannerughatta National Park(Arrival)|23067   |
|28000      |3          |Bannerughatta National Park           |Kempegowda Bus Station              |29518   |
|28000      |3          |Bannerughatta National Park(Departure)|Kempegowda Bus Station              |29518   |
|28000      |3          |Bannerghatta National Park(Departure) |Kempegowda Bus Station              |29518   |
|28000      |4          |Kempegowda Bus Station                |Bannerghatta National Park(Arrival) |23067   |
|28000      |4          |Kempegowda Bus Station                |Bannerughatta National Park         |23067   |
|28000      |4          |Kempegowda Bus Station                |Bannerughatta National Park(Arrival)|23067   |
|28000      |5          |Bannerughatta National Park(Departure)|Kempegowda Bus Station              |29518   |
|28000      |5          |Bannerghatta National Park(Departure) |Kempegowda Bus Station              |29518   |
|28000      |5          |Bannerughatta National Park           |Kempegowda Bus Station              |29518   |
|28000      |6          |Kempegowda Bus Station                |Bannerghatta National Park(Arrival) |23067   |
|28000      |6          |Kempegowda Bus Station                |Bannerughatta National Park(Arrival)|23067   |
|28000      |6          |Kempegowda Bus Station                |Bannerughatta National Park         |23067   |
|28000      |7          |Bannerghatta National Park(Departure) |Kempegowda Bus Station              |29518   |
|28000      |7          |Bannerughatta National Park           |Kempegowda Bus Station              |29518   |
|28000      |7          |Bannerughatta National Park(Departure)|Kempegowda Bus Station              |29518   |
|28000      |8          |Kempegowda Bus Station                |Bannerughatta National Park         |23067   |
|28000      |8          |Kempegowda Bus Station                |Bannerghatta National Park(Arrival) |23067   |
|28000      |8          |Kempegowda Bus Station                |Bannerughatta National Park(Arrival)|23067   |
|28000      |9          |Bannerughatta National Park           |Kempegowda Bus Station              |29518   |
|28000      |9          |Bannerghatta National Park(Departure) |Kempegowda Bus Station              |29518   |
|28000      |9          |Bannerughatta National Park(Departure)|Kempegowda Bus Station              |29518   |
|28000      |10         |Kempegowda Bus Station                |Depot-7                             |13512   |
|28000      |10         |Kempegowda Bus Station                |Depot-07 Subhashnagara              |13512   |
|28000      |10         |Kempegowda Bus Station                |Depot-07                            |13512   |
+-----------+-----------+--------------------------------------+------------------------------------+--------+